html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h2 {
  font-size: 32pt;
  padding: 0.5em;
  text-align: center;
  border-radius: 8px;
  margin: 0;
  text-decoration: none;
  color: #2af;
}
.preload {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
.preload span {
  font-family: Georgia, sans-serif;
  font-size: 88px;
  color: #ccc;
  margin-bottom: 0.5em;
}
.progress {
  height: 32px;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  border: 1px solid #ccc;
}
.progress-bar {
  background: #6699ff;
  height: 32px;
  width: 0%;
}
.info-image {
  overflow: visible;
  padding: 0.5em;
  max-height: 50%;
}
.info-image img {
  overflow: visible;
  width: 100%;
  height: auto;
  border: 4px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #333;
  box-sizing: border-box;
}
.info-image p {
  font-family: Georgia, 'KaiTi', 'Microsoft YaHei', '黑体', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.main {
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) center 0 no-repeat no-repeat;
  background-size: cover;
  padding-top: 80px;
  display: none;
}
.container {
  margin: 0 auto;
  display: block;
  position: relative;
}
.text-center {
  text-align: center !important;
}
.caption {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
}
#map-canvas {
  width: 100%;
  height: 100%;
}
#story-caption {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  font-family: Georgia, 'KaiTi', 'Microsoft YaHei', '黑体', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 2px #333;
}
@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
@keyframes shake {
  from {
    transform: translatex(-20px);
  }
  50% {
    transform: translate(20px);
  }
  to {
    transform: translate(-20px);
  }
}
@media screen {
  .container {
    width: 1200px;
    height: 960px;
    max-height: 88%;
    max-width: 90%;
  }
  .left,
  .right {
    width: 480px;
    position: absolute;
    height: auto;
    font-size: 320px;
    top: 240px;
    //animation: hue 20s linear 0s infinite normal both;
    //-webkit-animation: hue 20s linear 0s infinite normal both;
    color: #ff6600;
    -webkit-text-stroke: #000 1px;
    font-family: Georgia, 'KaiTi', 'Microsoft YaHei', '黑体', sans-serif;
  }
  .left {
    display: none;
    left: 0;
    text-align: right;
    animation: shake 2s ease-in-out 0s infinite;
    -webkit-animation: shake 2s ease-in-out 0s infinite;
  }
  .right {
    display: none;
    right: 0;
    text-align: left;
    animation: shake 2s ease-in-out 0s infinite;
    -webkit-animation: shake 2s ease-in-out 0s infinite;
  }
}
@media (max-width: 1640px) {
  .left,
  .right {
    width: 320px;
    font-size: 200px;
  }
}
@media (max-width: 1280px) {
  .left,
  .right {
    width: 160px;
    font-size: 160px;
  }
}
@media (max-width: 800px) {
  .left,
  .right {
    width: 120px;
    font-size: 120px;
  }
}
@media (max-height: 800px) {
  .left,
  .right {
    top: 120px;
  }
}
